<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="login">
        <classes>
            <class name="Tests.LoginTest">

        </class>
        </classes>
    </test>
    <test name="negative login">
        <classes>
            <class name="NegativeTests.LoginNegativeTest">

            </class>
        </classes>
    </test>
    <test name="log out">
        <classes>
            <class name="Tests.logOutTest">
            </class>
        </classes>
    </test>
    <test name="stay after log out">
        <classes>
            <class name="Tests.StayTest">
            </class>
        </classes>
    </test>
    <test name="move in calnder">
        <classes>
            <class name="Tests.MoveInCalnderTest">
            </class>
        </classes>
    </test>
    <test name="add task">
        <classes>
            <class name="Tests.addTest">
            </class>
        </classes>
    </test>
    <test name="Xadd task">
        <classes>
            <class name="Tests.XAddTest">
            </class>
        </classes>
    </test>
    <test name="Canceladd task">
        <classes>
            <class name="Tests.CancelAddTest">
            </class>
        </classes>
    </test>
    <test name="delete task">
        <classes>
            <class name="Tests.DeleteTest">
            </class>
        </classes>
    </test>
    <test name="negative collision">
        <classes>
            <class name="NegativeTests.NegativeAddCollisionTest">
            </class>
        </classes>
    </test>

    <test name="negative comment">
        <classes>
            <class name="NegativeTests.NegativeAddCommentTest">
            </class>
        </classes>
    </test>
    <test name="negative day">
        <classes>
            <class name="NegativeTests.NegativeAddDayTest">
            </class>
        </classes>
    </test>
    <test name="rate test">
        <classes>
            <class name="Tests.GradeTest">
            </class>
        </classes>
    </test>


</suite>